<!-- Footer Start -->
<div
  class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Company</h4>
        <a class="btn btn-link" href="../about.html">About Us</a>
        <a class="btn btn-link" href="../contact.html">Contact Us</a>
        <a class="btn btn-link" href="">Privacy Policy</a>
        <a class="btn btn-link" href="">Terms & Condition</a>
        <a class="btn btn-link" href="">FAQs & Help</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Contact</h4>
        <p class="mb-2">
          <a href="https://maps.app.goo.gl/LvuwBvGmj6Zrc4yq5" target="_blank"
            ><i class="fa fa-map-marker-alt me-3"></i>Dhmote Neral,
            Maharashtra</a
          >
        </p>
        <p class="mb-2">
          <a href="tel:9324049646"
            ><i class="fa fa-phone-alt me-3"></i>+91 93240 49646</a
          >
        </p>
        <p class="mb-2">
          <a href="mailto:vanikaholidays@gmail.com"
            ><i class="fa fa-envelope me-3"></i>vanikaholidays@gmail.com</a
          >
        </p>
        <div class="d-flex pt-2">
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href=""
            ><i class="fab fa-twitter fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href="https://www.facebook.com/people/Rare-Explore-Travel/61552632836459/?mibextid=ZbWKwL"
            target="_blank"
            ><i class="fab fa-facebook-f fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href="https://api.whatsapp.com/send/?phone=919167360941&text&type=phone_number&app_absent=0"
            target="_blank"
            ><i class="fab fa-whatsapp fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href="https://www.instagram.com/rareexplore7/?igshid=OGQ5ZDc2ODk2ZA%3D%3D"
            target="_blank"
            ><i class="fab fa-instagram fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"
            href="https://youtube.com/@RareExploreTravel?si=ZjtlGTHdYVpwYZhW"
            target="_blank"
            ><i class="fab fa-youtube fw-normal"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Gallery</h4>
        <div class="row g-2 pt-2">
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../img/package-1.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../img/package-2.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../img/package-3.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../img/package-2.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../img/package-3.jpg"
              alt=""
            />
          </div>
          <div class="col-4">
            <img
              class="img-fluid bg-light p-1"
              src="../img/package-1.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Newsletter</h4>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="position-relative mx-auto" style="max-width: 400px">
          <input
            class="form-control border-primary w-100 py-3 ps-4 pe-5"
            type="text"
            placeholder="Your email"
          />
          <button
            type="button"
            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
          >
            SignUp
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Vanika Holidays</a>, All Right
          Reserved.
          <!-- <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> -->
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
